In [9]:
 What is MongoDB? 
Ans:-MongoDB  is a fully-managed cloud database that handles all the complexity of deploying, managing, and healing your deployments on the cloud service provider of your choice

Explain non-relational databases in short?
Ans:-A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems

which scenarios it is preferred to use 
MongoDB over SQL databases?
Ans:-In simpler words, MongoDB is a document-Oriented NoSQL database that is used for handling Unstructured data whereas MySQL is an Open source RDBMS (Relational database management system ) that uses SQL (Structured query language) to operate and retrieve data in a database and follows a specific row-table based schema.

SyntaxError: invalid syntax (3609338351.py, line 1)

In [ ]:
 State and Explain the features of MongoDB.
Ans:-
MongoDB supports field queries, range queries, and regular expression searches.

In [13]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://akashgupta78666:Akash@cluster0.mawqlyv.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [12]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
db

Database(MongoClient(host=['ac-s2svknp-shard-00-01.mawqlyv.mongodb.net:27017', 'ac-s2svknp-shard-00-02.mawqlyv.mongodb.net:27017', 'ac-s2svknp-shard-00-00.mawqlyv.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-11lkmv-shard-0', tls=True), 'test')

In [15]:
client = pymongo.MongoClient("mongodb+srv://akashgupta78666:Akash@cluster0.mawqlyv.mongodb.net/?retryWrites=true&w=majority")

In [16]:
db=client['RamSsc']

In [17]:
data={"name":"sudh" ,
      "class":"science masters",
      "time":"fiexi"}

In [18]:
coll_RamSsc=db["my_record"]

In [19]:
coll_RamSsc.insert_one(data)

In [20]:
data1={"emil_id":"akashgupta756@gmail.com",
       "phone_no":"730174541",
       "state":"Bihar"
}

In [21]:
coll_RamSsc.insert_one(data1)

In [22]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [23]:
coll_RamSsc.insert_many(data2)

In [24]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [25]:
coll_RamSsc.insert_many(list_of_records)

In [26]:
coll_RamSsc.find()

In [27]:
for i in coll_RamSsc.find():
    print(i)

{'_id': ObjectId('63fad871a5a6640e691ad9d1'), 'name': 'sudh', 'class': 'science masters', 'time': 'fiexi'}
{'_id': ObjectId('63fad87ca5a6640e691ad9d2'), 'emil_id': 'akashgupta756@gmail.com', 'phone_no': '730174541', 'state': 'Bihar'}
{'_id': ObjectId('63fad886a5a6640e691ad9d3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fad886a5a6640e691ad9d4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fad886a5a6640e691ad9d5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fad886a5a6640e691ad9d6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fad886a5a6640e691ad9d7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fad886a5a6640e691ad9d8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fad886a5a6640e691ad9d9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fad886a5a6640e691ad9da'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fad886a5a6640e691ad9db'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fad886a5a6640e691ad9dc'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fad886a5a6640e691ad9dd'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fad886a5a6640e691ad9de'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fad890a5a6640e691ad9df'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63fad890a5a6640e691ad9e0'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63fad890a5a6640e691ad9e1'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [28]:
for i in coll_RamSsc.find({'name':'sudh'}):
    print(i)

{'_id': ObjectId('63fad871a5a6640e691ad9d1'), 'name': 'sudh', 'class': 'science masters', 'time': 'fiexi'}

In [29]:
for i in coll_RamSsc.find({'companyName':'iNeuron'}):
    print(i)

{'_id': ObjectId('63fad890a5a6640e691ad9df'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63fad890a5a6640e691ad9e0'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63fad890a5a6640e691ad9e1'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [30]:
coll_RamSsc.update_many({'company':'iNeuron'},{"$set":{'company':'pwskills'}})

In [31]:
for i in coll_RamSsc.find():
    print(i)

{'_id': ObjectId('63fad871a5a6640e691ad9d1'), 'name': 'sudh', 'class': 'science masters', 'time': 'fiexi'}
{'_id': ObjectId('63fad87ca5a6640e691ad9d2'), 'emil_id': 'akashgupta756@gmail.com', 'phone_no': '730174541', 'state': 'Bihar'}
{'_id': ObjectId('63fad886a5a6640e691ad9d3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fad886a5a6640e691ad9d4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fad886a5a6640e691ad9d5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fad886a5a6640e691ad9d6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fad886a5a6640e691ad9d7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fad886a5a6640e691ad9d8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fad886a5a6640e691ad9d9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fad886a5a6640e691ad9da'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fad886a5a6640e691ad9db'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fad886a5a6640e691ad9dc'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fad886a5a6640e691ad9dd'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fad886a5a6640e691ad9de'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fad890a5a6640e691ad9df'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63fad890a5a6640e691ad9e0'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63fad890a5a6640e691ad9e1'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [32]:
coll_RamSsc.sort({'company':'iNeuron'},{"$set":{'company':'pwskills'}})

TypeError: 'Collection' object is not callable. If you meant to call the 'sort' method on a 'Collection' object it is failing because no such method exists.

In [ ]:
coll_RamSsc.delete_one(data1)

In [ ]:
coll_RamSsc.drop()